.carritoCard {
    margin: 1rem;
    height: auto;
    width: auto;
    background-color: rgb(209, 209, 209);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .productoCard {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
    }
}

