* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

h1 {
    background-color: darkgreen;
    color: white;
    font-size: 30px;
}

footer {
    background-color: whitesmoke;
    color: black;
}

#seccionProductos {
    display: flex;
    flex-wrap: wrap;
}

.productos {
    height: 250px;
    width: 250px;
    background-color: cadetblue;
    padding: 15px;
    margin: 10px;
}

nav {
    width: 200px; }
    nav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-weight: 600px; }
        nav ul a {
            text-decoration: none;
            color: white;
        }